*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline:none;
}
body{
    background-color:rgba(96, 91, 232, 1);
    overflow-y:auto;

}
.logoBox{
    background-color:rgba(29, 25, 129, 1);
    display:block;
    height:80px;
    width:120px;
    margin-left:10%;
}
.container{
    display:flex;
    margin-top:-80px;
    /* height:100%; */
}
.contentBox{
    width: 75%;
    margin:100px 5% 50px 5%;
    line-height:1.8;
    font-size:20px
}
.formWindow{
    display:flex;
    flex-direction: column;
    background-color:black;
    width:20%;
    height:100vh;
    position:fixed;
    right:0;    
    justify-content:center;
    overflow-y:auto;
}
.email, .password, .loginButton{
    width:90%;
    background:transparent;
    border:2px solid rgba(96, 91, 232, 1);
    margin:5%;
    padding:15px;
    border-radius: 40px;
    color:white;
    margin-bottom:8%;
    outline:none;
}
.loginButton:hover{
    cursor: pointer;
    background-color: rgba(96, 91, 232, 1);
}

/* .button{
    background-color: rgba(96, 91, 232, 1);
    width:90%;
    margin:5%;
    padding:15px;
    border:none;
    border-radius:40px;
    color:white;
} */
.logo{
    margin-left:40%;
    margin-top:-150px;
}
.form{
    margin-top:60px;
}
.forgot{
    text-align:right;
    margin-right:5%;
    color:rgba(96, 91, 232, 1);
}
.forgot a{
    color:rgba(96, 91, 232, 1);
}
.register{
    margin:5%;
    padding:15px;
    border-radius: 40px;
    color:white;
    width:90%;
    background-color:rgba(96, 91, 232, 1);
    border:2px solid rgba(96, 91, 232, 1);
}
.register:hover{
    cursor: pointer;
}
/* responsive */

@media(min-width:768px) and (max-width:1100px){
    .contentBox{
        flex-basis: 65%;
        line-height: 1.35;
    }
    .formWindow{
        width: 25%;
    }
}

@media(max-width:767px){
    body{
        overflow-y: auto;
    }
    .container{
        flex-direction:column;
        position:relative;
        top:15vh;
    }
    .contentBox{
        flex-basis: 100%;
        order:2;
        margin:2%;
        font-size:16px;
    }
    .formWindow{
        width: 100%;
        height:auto;
        order:1;
        padding-bottom:20px;
        position:static;
        
    }
    .logo{
        display:none;
    }
}