.blackBoxLoggedIn{
    margin-top:5vh;
    display:flex;
}
.buttonBox{
    flex-basis: 40%;
}
.contentBox{
    flex-basis: 60%;
    color:white;
    margin:5%;
}
.buttonBox{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-right: 1px solid rgba(96, 91, 232, 1);
    padding:5% 0;
}
.buttonBox div a button{
    width:80%;
    background:rgba(96, 91, 232, 1);
    border:2px solid rgba(96, 91, 232, 1);
    margin:5%;
    padding:15px;
    border-radius: 40px;
    color:white;
}
.buttonBox div a button:hover{
    cursor: pointer;
}
.buttonBox div a:hover{
    text-decoration:underline;
}
.logoutIcon{
    position:absolute;
    right:12%;
    top:80px;
}

/* Responsive*/

@media(min-width:768px) and (max-width:991px){
    .buttonBox{
        border:none;
        width:100%;
        justify-content: center;
        padding:5% 0 3% 0;
    }
    .blackBox{
        flex-direction: column;
        height:auto;
        justify-content: center;

    }
    .contentBox{
        width:90%;
        padding:0;
    }
    .buttonBox div a button{
        margin:3% 8%;
    }
}

@media (max-width:767px){
    .buttonBox{
        border:none;
        width:100%;
        justify-content: center;
        padding:5% 0 3% 0;
    }
    .blackBox{
        flex-direction: column;
        height:auto;
        justify-content: center;

    }
    .contentBox{
        width:80%;
        padding:0;
        margin:10%;
        text-align: justify;
    }
    .buttonBox div a button{
        margin:3% 8%;
        font-size: 80%;
        padding:15px 0;
    }
    
}