.blackBox{
    overflow-y: auto;
}
.detailBox{
    padding:3%;
    padding-top:3%;
}
.detailBox p{
    color:white;
    margin-bottom: 0.5em;
}
.detailBox p span, .expiryDate{
    font-weight:bold;
}
.detailBox p span a{
    text-decoration:underline;
    color:white;

}
form{
    display: flex;
    flex-direction: column;
    align-items: end;
}
form>input[type='submit']{
    height: 2.5em;
    width: 10em;
    margin: 1em 1em;
    border: none;
    color: #fff;
    background-color: #e00;
    cursor: pointer;
}
form>input[type='submit']:disabled{
    background-color: #bbb;
}
form>input[type='submit']:enabled:hover{
    background-color: #f00;
}
table{
    color:white;
    width:100%;
    text-align:center;
    padding:0;
    background-color: #222;
}
tr{
    height: 2.5em;
    border-bottom: 1px solid #fff;
}
.remove{
    border-radius:40px;
    background-color:rgba(96, 91, 232, 1);
    border:2px solid rgba(96, 91, 232, 1);
    color:white;
    width:100px;
}
.remove:hover{
    cursor: pointer;
}
.icons{
    position:absolute;
    right:12%;
    top:80px;
}
.logoutIcon, .homeIcon{
    margin:5px;
}
.detailBox p.expiryDate{
    color:red;
    animation:blink 1000ms linear infinite;
    
}
@keyframes blink{
    0%{opacity:0;}
    20%{opacity:1;}
    100%{opacity:1;}
}


/* scrollbar styleing */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85); 
  }


  /* Responsive */
@media (max-width:691px){
    .table{
        font-size:80%;
        padding:20px 2%;
    }
    .blackBox{
        overflow-x:auto;
        padding:3%;
    }
    table tr{
        padding-right:15px;
        padding-bottom:10px;
    } 
    td{
        padding-right:15px;
        padding-bottom:10px;
    }

}
