section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	background-color: #eee;
  height: auto;
	width: 100%;
}
.update_user_form_cont{
	width: 50%;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 1em;
}
.update_user_form_cont>form{

}
.update_user_form_cont>form>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 1em;
}
.update_user_form_cont>form>div>input{
	font-size: 0.9em;	font-size: 0.9em;
	height: 3em;
	width: 50%;
	text-align: center;
	color: #999;
}
.update_user_form_cont>form>div>select{
	font-size: 0.9em;
	height: 3em;
	width: 50%;
	text-align: center;
}
.update_user_form_cont>form>div:last-child{
	display: flex;
	flex-direction: column;
}
.update_user_form_cont>form>div:last-child>div{
	width: 100%;
	display: flex;
	justify-content: space-between;
		margin: 0.5em 0;
}
.update_user_form_cont>form>div:last-child>div>button{
	font-size: 0.9em;
	border: 1px solid #ccc;
	height: 3em;
	width: 40%;
}
.update_user_form_cont>form>div:last-child>div:first-child>button:nth-child(2){
	color: #fff;
	background-color: #55f;
}
.update_user_form_cont>form>div:last-child>div:last-child>button:nth-child(1){
	color: #fff;
	background-color: #0a0;
}
.update_user_form_cont>form>div:last-child>div:last-child>button:nth-child(2){
	color: #fff;
	background-color: #fa0;
}

.payment_detail_overlay_cont{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00000055;
}
.payment_detail_overlay_cont>div{
	background-color: #fff;
	width: 40%;
	height: 35%;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
	align-items: center;
}
.payment_detail_overlay_cont>div>div{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15%;
	border-bottom: 1px solid #ccc;
}
.payment_detail_overlay_cont>div>form{
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: column;
  align-items: center;
	padding: 1em 0;
}
.payment_detail_overlay_cont>div>form>div{
	margin: 0.5em 0;
	width: 60%;
}
.payment_detail_overlay_cont>div>form>div>input{
	font-size: 0.9em;
	padding: 0 0.5em;
	width: 100%;
	height: 3em;
}
.payment_detail_overlay_cont>div>form>div>select{
	font-size: 0.9em;
  text-align: center;
	height: 3em;
	width: 100%;
}
.payment_detail_overlay_cont>div>form>div:last-child{
	display: flex;
	justify-content: space-between;
}
.payment_detail_overlay_cont>div>form>div>button{
	font-size: 0.9em;
	border: 1px solid #ccc;
	height: 3em;
	width: 40%;
}
.payment_detail_overlay_cont>div>form>div>button:last-child{
	background-color: #55f;
	color: #fff;
}