*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
}
body{
	position: relative;
}
nav{
	position: absolute;
	top: 0 !important;
	background-color: #fff;
	z-index: 5;
	width: 100%;
	height: 7%;
	/*box-shadow: 0 2px 5px rgba(0,0,0,0.5);*/
	display: flex;
	align-items: center;
}
nav>div{
	margin: 0 .5em;
}
.app_name{
	margin-left: 4.5em;
}
body>div:first-child{
	
}
.slider_ico{
	position: fixed;
	top: .7em;
	left: .5em;
	z-index: 10;
	display: flex;
	flex-direction: column;
	border: 1px solid #000;
	margin-left: 1em;
	padding: .2em;
}
.slider_ico>span{
	display: inline-block;
	background-color: #000;
	border-radius: 1em;
	height: .2em;
	width: 1.8em;
	margin: .15em 0;
}

.slider_nav{
	position: fixed;
	z-index: 10;
	top: 0;
	left: -20%;
	transition-duration: .5s;
	height: 100%;
	width: 20%;
}
.empty{
	display: flex;
	align-items: center;
	margin-left: .5em;
}
.empty>div{
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	width: 2.3em;
	border: 1px solid #000;
}
.slider_nav_show{
	left: 0%;
}
.slider_nav>div:first-child{
	height: 7%;
	border: none;
	padding: .5em 1em;
	text-align: right;
}
.slider_nav>div:last-child{
	background-color: #fff;
	height: 93%;
	padding: .5em;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.slider_nav>div:last-child>ul{
	
}
.slider_nav>div:last-child>ul>li{
	background-color: #eee;
	display: flex;
	align-items: center;
	padding-left: 1em;
	height: 2.5em;
	margin-bottom: .3em;
}