*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}
html,body{
	height: 100%;
	width: 100%;
}
body{
	position: relative;
}
.panel_container{
	height: 100%;
	width: 100%;
}
.panel_container>div{
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, #ffffffff 0%, #111111ef 50%)
}
.sub_panel{
	width: 50%;
	height: 100%;
}
.subscriber_panel{
  border-right: 1px solid #fff;
}
#subscriber_form{
	margin: 40% auto;
	width: 50%;

}
#subscriber_form>div{
	height: 4em;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
}
#subscriber_form>div input{
	height: 100%;
	min-height: 3.5em;
}
#subscriber_form>div:nth-child(2)>div:first-child{
	margin: .5em 0;
}
#subscriber_form>div:nth-child(2)>div:last-child{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#subscriber_form>div:nth-child(2)>div:last-child>input{
	width: 35%;
}
#subscriber_form>div:last-child{
  align-items: end;
	justify-content: center;
}
#subscriber_form>div>button{
	height: 2.5em;
	width: 40%;
	font-size: 1em;
	color: #fff;
	border: 1px solid #000;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #53d;
}
.quick_search_panel{
	display: flex;
	justify-content: center;
	align-items: center;

}
.quick_search_panel>div{

}
.quick_search_panel>div>a{
	display: inline-block;
	text-align: center;
  width: 10em;
	height: 3.5em;
	font-size: 1.5em;
	color: #fff;
	border: 1px solid #000;
	padding: 1.2em .5em;
	border-radius: .2em;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #f22;

}
.panel_divider{
	position: absolute;
	right: calc(50% - 2em);
	top: calc(50% - 2em);
	width: 4em;
	height: 4em;
	background-color: #888;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.panel_divider>span{
	display: inline-block;
}

.analysis_cont{
	position: absolute;
	top: 0%;
	background-color: #000000cc;
	left: 0%;
	height: 100%;
	width: 100%;
}

.analysis_loader{
	position: absolute;
	top: 15%;
	left: 40%;
	display: flex;
	justify-content: center;
	background-color: #fff;
  width: 20%;
	height: 10%;
}
.analysis_loader>img{
	width: 25%;
	height: 100%;
}