{% extends 'app_support/base.html' %}

{% block title %}
    <title>Manage Users</title>
{% endblock %}

{% block dependency%}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_support/manage_users.css' %}">
{% endblock %}

{% block body %}

{% include 'app_support/header.html' %}
<section>
    <div class="sub_sec search_form_cont">
        <form id="search_users_form" action="#" method="get">
            <div>
                <input type="text" name="search_by_email" placeholder="Enter email or leave it blank to show all">
            </div>
            <div>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="sub_sec user_detail_list_cont">
        <div class="user_list">
            <div class="user_row user_row_head">
                <span>SNo.</span>
                <span>Registered Email</span>
                <span>Registered on</span>
                <span>Email Verified</span>
                <span>Account Status</span>
                <span></span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
