{% extends 'app_support/base.html' %}

{% block title %}
<title>Plan Change Requests</title>
{% endblock %}

{% block dependency%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app_support/plan_change_request.css' %}">
{% endblock %}

{% block body %}

{% include 'app_support/header.html' %}
<section>
    <div class="sub_sec search_form_cont">
        <form id="search_plan_requests_form" action="#" method="get">
            <div>
                <input type="text" name="search_by_email" placeholder="Enter email or leave it blank to show all">
            </div>
            <div>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="sub_sec plan_request_detail_list_cont">
        <div class="plan_requests_list">
            <div class="plan_request_row plan_request_row_head">
                <span>SNo.</span>
                <span>Registered Email</span>
                <span>Requested on</span>
                <span>Current Plan</span>
                <span>Requested Plan</span>
                <span></span>
            </div>
        </div>
    </div>
</section>
<div class="payment_detail_overlay_cont">
    <div>
        <div>
            <h3>Payment Details</h3>
        </div>
        <form action="#" method="POST" id="changePlanPaymentForm">
            <div>
                <label>Payment ID:</label>
                <input type="text" name="payment_id" placeholder="Enter payment id if any">
            </div>
            <div>
                <label>Payment Mode:</label>
                <select name="payment_mode">
                    <option value="OFFLINE" selected>OFFLINE</option>
                    <option value="ONLINE">ONLINE</option>
                </select>
            </div>
            <div>
                <button type="button" class="close_plan_payment_form">Close</button>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}