{% extends 'app_support/base.html' %}

{% block title %}
    <title>Update User</title>
{% endblock %}

{% block dependency%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_support/update_user.css' %}">
{% endblock %}

{% block body %}

{% include 'app_support/header.html' %}
<section>
    <div class="update_user_form_cont">
        <form action="#" method="POST" id="update_user_form">
            <div>
                <lable>Registered Email</lable>
                <input type="email" id="user_email" disabled>
            </div>
            <div>
                <label>User Registered on</label>
                <input type="text" id="registered_on" disabled>
            </div>
            <div>
                <label>Plan Subscribed on</label>
                <input type="text" id="plan_subscribed_on" disabled>
            </div>
            <div>
                <label>Plan Subscribed</label>
                <input type="text" id="plan_subscribed" disabled>
            </div>
            <div>
                <label>Plan Status</label>
                <input type="text" id="plan_status" disabled>
            </div>
            <div>
                <label>Plan Expires On</label>
                <input type="text" id="plan_expires_on" disabled>
            </div>
            <div>
                <label>Quick Analysis Quota</label>
                <input type="text" id="quick_analysis_quota" disabled>
            </div>
            <div>
                <label>Total Topic Subscribed</label>
                <input type="text" id="total_subscription" disabled>
            </div>
            <div>
                <label>Email Verified</label>
                <input type="text" id="email_verified" disabled>
            </div>
            <div>
                <label>Account Status</label>
                <select name="account_status" id="account_status">
                    <option value="PENDING_VERIFICATION">PENDING_VERIFICATION</option>
                    <option value="VERIFIED">VERIFIED</option>
                    <option value="SUSPENDED">SUSPENDED</option>
                </select>
            </div>
            <div>
                <div>
                    <button type="button" onclick="window.history.back()">Go Back</button>
                    <button type="submit">Update</button>
                </div>
                <div>
                    <button type="button" id="send_user_verification">Send Verification Link</button>
                    <button type="button" id="renew_user_plan">Renew Plan</button>
                </div>
            </div>
        </form>
    </div>
</section>
<div class="payment_detail_overlay_cont">
    <div>
        <div>
            <h3>Payment Details</h3>
        </div>
        <form action="#" method="POST" id="renewPlanPaymentForm">
            <div>
                <label>Payment ID:</label>
                <input type="text" name="payment_id" placeholder="Enter payment id if any">
            </div>
            <div>
                <label>Payment Mode:</label>
                <select name="payment_mode">
                    <option value="OFFLINE" selected>OFFLINE</option>
                    <option value="ONLINE">ONLINE</option>
                </select>
            </div>
            <div>
                <button type="button" class="close_plan_payment_form">Close</button>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
