{% extends 'app_support/base.html' %}

{% block title %}
<title>User Plan History</title>
{% endblock %}

{% block dependency%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app_support/user_plan_history.css' %}">
{% endblock %}

{% block body %}

{% include 'app_support/header.html' %}
<section>
    <div class="sub_sec search_form_cont">
        <form id="search_user_plan_history_form" action="#" method="get">
            <div>
                <input type="text" name="search_by_email" placeholder="Enter email or leave it blank to show all">
            </div>
            <div>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="sub_sec user_plan_history_detail_list_cont">
        <div class="user_plan_history_list">
            <div class="user_plan_history_row user_plan_history_row_head">
                <span>SNo.</span>
                <span>Registered Email</span>
                <span>Plan Request on</span>
                <span>Plan Name</span>
                <span>Plan Started From</span>
                <span>Plan Expires On</span>
                <span>Payment ID</span>
                <span>Payment Mode</span>
            </div>
        </div>
    </div>
</section>

{% endblock %}