<div style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-image: url(https://tweet-summary.herokuapp.com/static/app_ui/images/bg.png);background-position: top;background-size: auto;background-repeat: no-repeat;overflow-x: hidden;/*! display: flex; *//*! justify-content: center; *//*! align-items: center; */">
    <div class="allContent" style="margin: 0 auto;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;width: 90%;height: 70vh;">
        <div class="imagesAndLink" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;height: 15vh;display: table-row;/*! justify-content: space-between; *//*! align-items: end; *//*! position: relative; *//*! vertical-align: top; */">
            <img src="https://tweet-summary.herokuapp.com/static/app_ui/images/distort1.png" alt="logo" style="margin-bottom: -6em;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;display: inline-block;width: 33%;height: 150%;/*! position: absolute; *//*! top: -105px; *//*! left: -20px; */">
            <a href="http://www.socialmediapulsemonitor.com/" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;display: inline-block;/*! position: absolute; *//*! left: 40%; *//*! top: -21px; */text-decoration: none;width: 33%;text-align: center;">www.SocialMediaPulseMonitor.com</a>
            <img src="https://tweet-summary.herokuapp.com/static/app_ui/images/tag.jpg" alt="tag line" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*! position: absolute; *//*! right: 0; *//*! top: -85px; */width: 33%;">
        </div>
        <div class="contentBox" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;width: 100%;height: 55vh;background-color: #e2e2e2;border: 1px solid black;/*! display: flex; *//*! flex-direction: column; *//*! justify-content: center; *//*! align-items: center; */">
            <div class="title" style="margin: 0 auto;padding: 30px 25px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-color: white;/*! border: 1px solid black; */border-top: none;height: 30vh;width: 100%;box-sizing: border-box;">
                <h2 class="heading" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Verify Your Email Address</h2>
                <p style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-top: 10px;margin-bottom: 30px;">Please confirm that you want to use this as your Social Media Pulse Monitor
                    account email address. Once it's done you will be able to start checking the 
                    pulse of social media.
                </p>
                <a href="{{ confirmation_url }}" style="margin: 0;padding: 10px 20px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-decoration: none;color: white;background-color: #ffa500;box-shadow: 3px 3px 6px #0000006e;">Verify my email</a>
            </div>
    
            <div class="regards" style="margin: 0 auto;padding: 0 25px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*! padding-top: 70px; */height: 15vh;width: 100%;box-sizing: border-box;">
                <p style="margin: 10px 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Thank You,</p>
                <p style="margin: 10px 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Social Media Pulse Monitor</p>
            </div>
    
            <div class="copyright" style="margin: 0 auto;padding: 10px 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-color: #1daf3b;color: white;text-align: center;font-size: 12px;/*! position: absolute; *//*! bottom: ; *//*! border: 1px solid black; */border-bottom: none;box-sizing: border-box;height: 10vh;/*! display: flex; *//*! justify-content: center; *//*! align-items: center; */width: 100%;">
                <p style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Copyright © 2017 CXODNA LLC. All rights reserved. You are receiving this 
                email because you submitted the contact form via our website, www.SocialMediaPulseMonitor.com</p>
            </div>
        </div>
    </div>
</div>