<div style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-image: url(https://tweet-summary.herokuapp.com/staticfiles/app_ui/images/bg.png);background-position: top;background-size: auto;background-repeat: no-repeat;overflow-x: hidden;/*! display: flex; *//*! justify-content: center; *//*! align-items: center; */">
    <div class="allContent" style="margin: 0 auto;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;width: 90%;height: 100vh;">
        <div class="imagesAndLink" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;height: 15vh;display: table-row;/*! justify-content: space-between; *//*! align-items: end; *//*! position: relative; *//*! vertical-align: top; */">
            <img src="https://tweet-summary.herokuapp.com/staticfiles/app_ui/images/distort1.png" alt="logo" style="margin-bottom: -6em;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;display: inline-block;width: 33%;height: 150%;/*! position: absolute; *//*! top: -105px; *//*! left: -20px; */">
            <a href="http://www.socialmediapulsemonitor.com/" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;display: inline-block;/*! position: absolute; *//*! left: 40%; *//*! top: -21px; */text-decoration: none;width: 33%;text-align: center;">www.SocialMediaPulseMonitor.com</a>
            <img src="https://tweet-summary.herokuapp.com/staticfiles/app_ui/images/tag.jpg" alt="tag line" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*! position: absolute; *//*! right: 0; *//*! top: -85px; */width: 33%;">
        </div>
        <div class="contentBox" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;width: 100%;height: 85vh;background-color: #e2e2e2;border: 1px solid black;/*! display: flex; *//*! flex-direction: column; *//*! justify-content: center; *//*! align-items: center; */">
            <div class="title" style="margin: 0 auto;padding: 10px 25px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-color: white;/*! border: 1px solid black; */border-top: none;height: 75vh;width: 100%;box-sizing: border-box;">
                <h3 style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Today’s Social Media Pulse of your subscribed topics:</h3>

                <p class="analysisResult" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-top: 20px;">
                    </p><ul style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">There has been
                            {% if 'decrease' in increase_or_decrease %}
                                <span style="color: #b55;margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="increase bold"> {{ increase_or_decrease }} </span>
                            {% else %}
                                <span style="color: #5b5;margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="increase bold"> {{ increase_or_decrease }} </span>
                            {% endif %}
                            in the tweets from yesterday related to
                            <span class="query bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ query }} </span>
                        </li>
                        <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                            Out of today's <span style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ total_todays_tweet }} </span> total tweets there has been
                            <span style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #0f0;"> {{ total_positive_tweets }}  positive tweets </span>
                            <span style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #f00;"> {{ total_negative_tweets }}  negative tweets</span> and
                            <span style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: #a70"> {{ total_neutral_tweets }}  neutral tweets.</span>
                        </li>
                        <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">In the past one week, there have been
                            <span class="total_tweets bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ total_tweets }} </span> tweets,
                            <span class="total_mentions bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ total_mentions }} </span> mentions,
                            <span class="total_retweets bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ total_retweets }} </span> retweets,
                            primarily related to <span class="query bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ query }} </span>
                        </li>
                        <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                            Overall Twitter conversations include
                            <span class="total_mentions bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ total_mentions }} </span> social mentions,
                            <span class="total_favorite bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ total_favorite }} </span> total likes, and
                            is driven by retweets of <span class="noticeable_user bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ noticeable_user }} </span>
                        </li>
                        {% if most_active_verified_tweet_user_name != '' %}
                        <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                            <span class="most_active_verified_tweet_user_name bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ most_active_verified_tweet_user_name }} </span> tweet has got more attention and has received
                            <span class="most_active_verified_tweet_retweets bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ most_active_verified_tweet_retweets }} </span> retweets and
                            <span class="most_active_verified_tweet_favorite bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ most_active_verified_tweet_favorite }} </span> likes.
                            <ul style="margin: 0 0 0 20px;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><span style="font-weight: bold;margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">The tweet was: </span> <span class="most_active_verified_tweet bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ most_active_verified_tweet }} </span></li>
                                <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><span style="font-weight: bold;margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Notable mentions made in tweet were:</span>
                                    <span class="most_active_verified_tweet_mentions bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ most_active_verified_tweet_mentions }} </span>
                                </li>
                            </ul>
                        </li>
                        <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                            <span style="font-weight: bold;margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Other tweets which were most active was made by</span>
                            <ul style="margin: 0 0 0 20px;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                    <span style="font-weight: bold;margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="noticeable_user_tweet_user_name_1 bold"> {{ noticeable_user_tweet_user_name_1 }} </span>,
                                    total <span class="noticeable_user_tweet_total_1 bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ noticeable_user_tweet_total_1 }} </span> tweets posted,
                                    <span class="noticeable_user_tweet_total_retweets_1 bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ noticeable_user_tweet_total_retweets_1 }} </span> retweets,
                                    <span class="noticeable_user_tweet_total_favorite_1 bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ noticeable_user_tweet_total_favorite_1 }} </span> likes,
                                    Noticeable mentions were <span class="noticeable_user_tweet_mentions_1 bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ noticeable_user_tweet_mentions_1 }} </span>
                                </li>
                                <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                    <span style="font-weight: bold;margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="noticeable_user_tweet_user_name_2 bold"> {{ noticeable_user_tweet_user_name_2 }} </span>,
                                    total <span class="noticeable_user_tweet_total_2 bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ noticeable_user_tweet_total_2 }} </span> tweets posted,
                                    <span class="noticeable_user_tweet_total_retweets_2 bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ noticeable_user_tweet_total_retweets_2 }} </span> retweets,
                                    <span class="noticeable_user_tweet_total_favorite_2 bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ noticeable_user_tweet_total_favorite_2 }} </span> likes,
                                    Noticeable mentions were <span class="noticeable_user_tweet_mentions_2 bold" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> {{ noticeable_user_tweet_mentions_2 }} </span>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                            There's no user tweet which have got more attention.
                        </li>
                        <li>
                            There were no noticeable user tweet's found in past one week.
                        </li>
                        {% endif %}
                    </ul>
                <p></p>

                <p class="regards" style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-top: 20px;">Thankyou,</p><br style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                <p style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Social Media Pulse Monitor</p>

                <p class="tagline" style="margin: 0;/*! padding: 30px 0; */font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 5px;font-weight: bold;">“Translating Information into an Actionable Intelligence: The Pulse of Social Media”</p>

            </div>
    
            <div class="copyright" style="margin: 0 auto;padding: 10px 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-color: #1daf3b;color: white;text-align: center;font-size: 12px;/*! position: absolute; *//*! bottom: ; *//*! border: 1px solid black; */border-bottom: none;box-sizing: border-box;height: 10vh;/*! display: flex; *//*! justify-content: center; *//*! align-items: center; */width: 100%;">
                <p style="margin: 0;padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Copyright © 2017 CXODNA LLC. All rights reserved. You are receiving this 
                email because you submitted the contact form via our website, www.SocialMediaPulseMonitor.com</p>
            </div>
        </div>
    </div>
</div>