section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	background-color: #eee;
  height: calc(100% - 7em);
	width: 100%;
}
.update_user_form_cont{
	width: 50%;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 1em;
}
.update_user_form_cont>form{

}
.update_user_form_cont>form>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 1em;
}
.update_user_form_cont>form>div>input{
	font-size: 0.9em;	font-size: 0.9em;
	height: 3em;
	width: 50%;
	text-align: center;
}
.update_user_form_cont>form>div>select{
	font-size: 0.9em;
	height: 3em;
	width: 50%;
	text-align: center;
}
.update_user_form_cont>form>div:last-child{
	display: flex;
	flex-direction: column;
}
.update_user_form_cont>form>div:last-child>div{
	width: 100%;
	display: flex;
	justify-content: space-between;
		margin: 0.5em 0;
}
.update_user_form_cont>form>div:last-child>div>button{
	font-size: 0.9em;
	border: 1px solid #ccc;
	height: 3em;
	width: 40%;
}
.update_user_form_cont>form>div:last-child>div:first-child>button:nth-child(2){
	color: #fff;
	background-color: #55f;
}
.update_user_form_cont>form>div:last-child>div:last-child>button:nth-child(1){
	color: #fff;
	background-color: #0a0;
}
.update_user_form_cont>form>div:last-child>div:last-child>button:nth-child(2){
	color: #fff;
	background-color: #fa0;
}