{% extends 'app_ui/base.html' %}

{% block title %}
<title>Social Media Pulse Monitor</title>
{% endblock %}

{% block headDependency%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app_ui/style/changePasswordStyle.css' %}">
{% endblock %}

{% block body%}
<div class="icons">
    {% load static %}
    <a href="{% url 'home' %}"> <img src="{% static 'app_ui/images/home1.png' %}" alt="logout" class="logoutIcon"></a>
    <a href="{% url 'home_logout'%}"> <img src="{% static 'app_ui/images/logout1.png' %}" alt="logout" class="logoutIcon"></a>
</div>
<div class="blackBox">
    <div class="heading">
        <h2>Change Password</h2>
    </div>
    <div class="form">
        <form id="changePasswordForm" action="#" method="POST">
            <input type="password" name="current_password" placeholder="Current Password" required=""><br>
            <input type="password" name="new_password" placeholder="New Password" required=""><br>
            <input type="password" name="confirm_password" placeholder="Confirm New Password" required=""><br>
            <input type="submit" value="Change Password" class="button">
        </form>
    </div>
</div>
{% endblock %}

{% block tailDependency%}
{% load static %}
<script type="text/javascript" src="{% static 'app_ui/js/change_password_controller.js' %}"></script>
{% endblock %}