{% extends 'app_ui/base.html' %}

{% block title %}
<title>Social Media Pulse Monitor</title>
{% endblock %}

{% block headDependency%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app_ui/style/homeStyle.css' %}">
{% endblock %}

{% block body%}
<div class="container">
    <div class="contentBox" style="font-size: 1em">
        <ul style="list-style-type: none;">
            <li>
                As a PR professional are you worried about how to prove to stakeholders the direct business results from your work?
            
            <li>
                As a PR professional, do you have data to understand if your content drove any results?
            
            <li>
                As a PR professional are you worried in the absence of data you will need to fly blindly if you need to tweak your message for ongoing campaigns?
            
            <li>
                <h3>Social Media Pulse Monitor provides:</h3>
                <ul style="list-style-type: decimal;">
                    <li>
                        <h4>ACTIONABLE INTELLIGENCE</h4>
                        <p>
                            Take advantage of the analysis section to comprehensively analyze collected data. Find out which <b>known as well as unknown profiles/messengers</b> on the Twitter are the <b>most actively involved</b> in driving messages related to your keyword(s) topics and access their tweets.
                        </p>
                    </li>
                    <li>
                        <h4>IDENTIFY AND DRIVE ACCELERATING CONVERSATIONS</h4>
                        <p>
                            Analysis provides you the <b>drivers driving conversations</b> around your topic(s). It provides you with <b>the highest conversation driving twitter user(s)</b> with their twitter handle, actual tweet with the number of retweets and likes and notable mentions in that tweet.
                        </p>
                    </li>
                    <li>
                        <h4>Measure the impact of your marketing / PR efforts</h4>
                        <p>
                            Check out what type and volume of engagements like tweets, retweets, news stories your messages are generating and categorize them to positive, negative, or neutral.
                        </p>
                    </li>
                    <li>
                        <h4>Online reputation management (Sentiment Analysis)</h4>
                        <p>
                            Social Media Pulse Monitor tracks mentions about your keyword topics across social media, blogs, news sites, videos, forums, podcasts and categorize them to positive, negative, or neutral. Thus, provides the <b>bird's-eye view</b> of what's happening in your social world about your keyword topics. You can also access and engage online mentions.
                        </p>
                    </li>
                    <li>
                        <h4>Automated Reports</h4>
                        <p>
                            Save time using our daily <b>customized <u>context</u></b> based reports on the pulse of social media by simply entering keyword(s) topic(s) or hashtag(s).
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="formWindow">
        <div class="form">
            <form id="loginForm" action="#" method="POST">
                <input type="text" name="user_email" placeholder="Email" required class="email">
                <input type="password" name="user_password" placeholder="Password" required class="password">
                <input type="submit" value="Login" class="loginButton">
            </form>
        </div>
        <div class="forgot">
            <a href="{% url 'forgot_password' %}">Forgot Password?</a>
        </div>
        <div>
            <a href="{% url 'register' %}">
                <input type="button" value="Register" class="register">
            </a>
        </div>

    </div>
</div>
{% endblock %}

{% block tailDependency%}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'app_ui/js/login_controller.js' %}"></script>
{% endblock %}