{% extends 'app_ui/base.html' %}

{% block title %}
<title>Social Media Pulse Monitor</title>
{% endblock %}

{% block headDependency%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app_ui/style/loggedInStyle.css' %}">
{% endblock %}

{% block body%}

{% load staticfiles %}
<a href="{% url 'home_logout' %}"> <img src="{% static 'app_ui/images/logout1.png' %}" alt="logout" class="logoutIcon"></a>
<div class="blackBox blackBoxLoggedIn">

    <div class="buttonBox">
        <div class="subscribeButton">
            <a href="{% url 'subscribe' %}"><button type="button">Subscribe to Search Topics</button></a>
        </div>
        <div class="quickAnalysisButton">
            <a href="{% url 'quick_analysis' %}"><button type="button">Quick Analysis</button></a>
        </div>
        <div class="plansButton">
            <a href="{% url 'user_plans' %}" class="plansButton"><button type="button">Purchase/Renew/Change Plan</button></a>
        </div>
        <div class="viewDetailsButton">
            <a href="{% url 'account_details' %}"><button type="button">View Details</button></a>
        </div>

    </div>
    <div class="contentBox">
        <ul>
            <li>
                <p>
                    <b>Subscribe to Search Topics</b> to save time using our daily <b>customized <u>context</u></b> based reports on the pulse of social media by simply entering keyword(s) topic(s) or hashtag(s). Report will provide what type and volume of engagements like tweets, retweets, mentions your messages are generating and will categorize them <b>to positive, negative, or neutral.</b>
                </p>
                <p>
                    Report also provides which <b>known as well as unknown profiles/ (messengers)</b> on Twitter are <b>the most actively involved</b> in driving messages related to your search keyword(s) topic(s) and access their tweets. Report also helps in <b>identifying and driving accelerating conversations.</b>
                </p>
            </li>
            <li>
                <b>Quick Analysis:</b> Instantly, find out which <b>known as well as unknown profiles/ (messengers)</b> on Twitter are <b>the most actively involved</b> in driving messages related to your search keyword(s) topic(s) and access their tweets. Check out what type and volume of engagements like tweets, retweets, news stories your messages are generating. <b>Identify and drive accelerating conversations.</b>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block tailDependency%}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'app_ui/js/home_controller.js' %}"></script>
{% endblock %}