{% extends 'app_ui/base.html' %}

{% block title %}
<title>Social Media Pulse Monitor</title>
{% endblock %}

{% block headDependency%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app_ui/style/newPasswordStyle.css' %}">
{% endblock %}

{% block body%}

<div class="blackBox">
    <div class="heading">
        <h2>Set New Password</h2>
    </div>
    <div class="form">
        <form id="resetPasswordForm" action="#" method="POST">
            <input type="password" name="new_password" placeholder="New Password" required=""><br>
            <input type="password" name="confirm_password" placeholder="Confirm New Password" required=""><br>
            <input type="submit" value="Reset Password" class="button">
        </form>
    </div>
</div>
{% endblock %}

{% block tailDependency%}
{% load static %}
<script type="text/javascript" src="{% static 'app_ui/js/new_password_controller.js' %}"></script>
{% endblock %}

