<!DOCTYPE html>
{% extends 'app_ui/base.html' %}

{% block title %}
<title>Social Media Pulse Monitor</title>
{% endblock %}

{% block headDependency%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app_ui/style/quickAnalysisStyle.css' %}">
{% endblock %}

{% block body%}
<div class="icons">
    {% load staticfiles %}
    <a href="{% url 'home' %}"> <img src="{% static 'app_ui/images/home1.png' %}" alt="logout" class="logoutIcon"></a>
    <a href="{% url 'home_logout'%}"> <img src="{% static 'app_ui/images/logout1.png' %}" alt="logout" class="logoutIcon"></a>
</div>
<div class="blackBox">
    <div class="heading">
        <h2>Quick Analysis</h2>
    </div>
    <div class="searchBox">
        <form id="quickAnalysisForm" action="#" method="GET">
            <input type="text" name="query" placeholder="Keyword(s)" class="keyword" required> <br>
            <input type="submit" value="Search" class="button">
        </form>
    </div>
    <div class="resultHeading">
        <h3>Result of Tweet Analysis</h3>
    </div>
    <div class="result">
        <div class="analysis_summary">
            <div>
                <span>Summarizing using <span class="total_tweets"></span> tweets</span>
            </div>
            <div>
                <span>Data extracted on <span class="data_timestamp"></span></span>
            </div>
        </div>
        <ul class="analysis">
            <li>There has been <span class="increase bold"></span> in the tweets from yesterday related to <span class="query bold"></span></li>
            <li>In the past one week, there have been
                <span class="total_tweets bold"></span> tweets,
                <span class="total_mentions bold"></span> mentions,
                <span class="total_retweets bold"></span> retweets,
                primarily related to <span class="query bold"></span>
            </li>
            <li>
                Overall Twitter conversations include
                <span class="total_mentions bold"></span> social mentions, and
                <span class="total_favorite bold"></span> total likes, and
                is driven by retweets of <span class="noticeable_user bold"></span>
            </li>
            <li>
                <span class="most_active_verified_tweet_user_name bold"></span> tweet has got more attention and has received
                <span class="most_active_verified_tweet_retweets bold"></span> retweets and
                <span class="most_active_verified_tweet_favorite bold"></span> likes.
                <ul>
                    <li>The tweet was: <span class="most_active_verified_tweet bold"></span></li>
                    <li>Notable mentions made in tweet were:
                        <span class="most_active_verified_tweet_mentions bold"></span>
                    </li>
                </ul>
            </li>
            <li class="active_users">
                Other tweets which were most active was made by
                <ul>
                    <li class="active_user_1">
                        <span class="noticeable_user_tweet_user_name_1 bold"></span>,
                        total <span class="noticeable_user_tweet_total_1 bold"></span> tweets posted,
                        <span class="noticeable_user_tweet_total_retweets_1 bold"></span> retweets,
                        <span class="noticeable_user_tweet_total_favorite_1 bold"></span> likes,
                        Noticeable mentions were <span class="noticeable_user_tweet_mentions_1 bold"></span>
                    </li>
                    <li class="active_user_2">
                        <span class="noticeable_user_tweet_user_name_2 bold"></span>,
                        total <span class="noticeable_user_tweet_total_2 bold"></span> tweets posted,
                        <span class="noticeable_user_tweet_total_retweets_2 bold"></span> retweets,
                        <span class="noticeable_user_tweet_total_favorite_2 bold"></span> likes,
                        Noticeable mentions were <span class="noticeable_user_tweet_mentions_2 bold"></span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
{% endblock %}

{% block tailDependency%}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'app_ui/js/quick_analysis_controller.js' %}"></script>
{% endblock %}
