{% extends 'dashboard/base.html' %}


{% block body%}

<section>
	<div class="search_panel" id="search_panel_pin">
		<div class="search_form">
			<form id="search_form">
				<div>
					<input type="email" name="user_email" placeholder="Enter registered email" required>
					<input type="password" name="user_password" placeholder="Enter password" required>
				</div>
				<div>
					<input type="text" name="search" required>
					<button type="submit">
						<span id="search_text">Search</span>
						<img src="/static/images/ripple.gif" id="loader">
					</button>
				</div>
			</form>
		</div>
		<div class="result_nav_panel">
			<div>
				<span>Summarizing using <span class="total_tweets"></span> tweets</span>
			</div>
			<div>
				<span>Data extracted on <span class="data_timestamp"></span></span>
			</div>
		</div>
	</div>
	<div class="result_panel">
		<div class="result_cont">
			<ul>
				<li>There has been <span class="increase bold"></span> in the tweets from yesterday related to <span class="query bold"></span></li>
				<li>In the past one week, there have been
					<span class="total_tweets bold"></span> tweets,
					<span class="total_mentions bold"></span> mentions,
					<span class="total_retweets bold"></span> retweets,
					primarily related to <span class="query bold"></span>
				</li>
				<li>
					Overall conversation continues to be included in twitter(
					<span class="total_mentions bold"></span> social mentions, and
					<span class="total_favorite bold"></span> total likes), and
					is driven by retweets of <span class="noticeable_user bold"></span>
				</li>
				<li>
					<span class="most_active_verified_tweet_user_name bold"></span> tweet has got more attention and has received
					<span class="most_active_verified_tweet_retweets bold"></span> retweets and
					<span class="most_active_verified_tweet_favorite bold"></span> likes.
					<ul>
						<li>The tweet was: <span class="most_active_verified_tweet bold"></span></li>
						<li>Notable mentions made in tweet were:
							<span class="most_active_verified_tweet_mentions bold"></span>
						</li>
					</ul>
				</li>
				<li class="active_users">
					Other tweets which were most active was made by
					<ul>
						<li class="active_user_1">
							<span class="noticeable_user_tweet_user_name_1 bold"></span>,
							total <span class="noticeable_user_tweet_total_1 bold"></span> tweets posted,
							<span class="noticeable_user_tweet_total_retweets_1 bold"></span> retweets,
							<span class="noticeable_user_tweet_total_favorite_1 bold"></span> likes,
							Noticeable mentions were <span class="noticeable_user_tweet_mentions_1 bold"></span>
						</li>
						<li class="active_user_2">
							<span class="noticeable_user_tweet_user_name_2 bold"></span>,
							total <span class="noticeable_user_tweet_total_2 bold"></span> tweets posted,
							<span class="noticeable_user_tweet_total_retweets_2 bold"></span> retweets,
							<span class="noticeable_user_tweet_total_favorite_2 bold"></span> likes,
							Noticeable mentions were <span class="noticeable_user_tweet_mentions_2 bold"></span>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</section>
<div class="analysis_cont">
	<div class="analysis_loader">
		<img src="/static/images/ripple.gif">
	</div>
</div> 


{% endblock %}
