<!DOCTYPE html>
<html>
<head>
    <title>Panel</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/panel.css' %}">

    <script type="text/javascript" src="{% static 'dashboard/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/scrollmagic.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/jsrender.js' %}"></script>

    <base target="_blank">

    <script>
		var controller = new ScrollMagic.Controller();

		$.views.settings.delimiters("[%", "%]");

		var app_env = {
			query:null,
			data:null,
		};
	</script>
</head>
<body>


    {% block body%}
    {% endblock %}

    <script type="text/javascript">

            $(function(){
                $('.analysis_cont').hide();
            });
        </script>

    <script type="text/javascript" src="{% static 'dashboard/js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/app.js' %}"></script>

</body>
</html>