<!DOCTYPE html>
<html>
<head>
    <title>Panel</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/panel.css' %}">

    <script type="text/javascript" src="{% static 'dashboard/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/scrollmagic.js' %}"></script>

    <base target="_blank">

    <script>
		var controller = new ScrollMagic.Controller();
	</script>
</head>
<body>
    <section class="panel_container">
        <div>
            <div class="sub_panel subscriber_panel">
                <form method="post" action="#" id="subscriber_form">
                    <div>
                        <label for="subscriber_topic">Tweet Topic</label>
                        <input type="text" name="subscriber_topic" id="subscriber_topic" required>
                    </div>
                    <div>
                        <label for="subscriber_email">Email</label>
                        <input type="email" name="subscriber_email" id="subscriber_email" required>
                    </div>
                    <div>
                        <div>
                            <span>Subscription Period</span>
                        </div>
                        <div>
                            <label for="subscription_start_date">From</label>
                            <input type="date" name="subscription_start_date" id="subscription_start_date" required>
                            <label for="subscription_end_date">To</label>
                            <input type="date" name="subscription_end_date" id="subscription_end_date" required>
                        </div>
                    </div>
                    <div>
                        <button type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="sub_panel quick_search_panel">
                <div>
                    <a href="https://tweet-summary.herokuapp.com/dashboard">Quick Analysis</a>
                </div>
            </div>
            <div class="panel_divider">
                <span>OR</span>
            </div>
        </div>
    </section>
    <div class="analysis_cont">
        <div class="analysis_loader">
            <img src="/static/dashboard/images/ripple.gif">
        </div>
    </div>

    <script type="text/javascript">

		$(function(){
			$('.analysis_cont').hide();
		});
	</script>

    <script type="text/javascript" src="{% static 'dashboard/js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/app.js' %}"></script>

</body>
</html>